$red: red;
$blue: blue;
$green: green;

div {
    border: 1px solid $red;
    padding: 0 1rem;

    h1 {
        color: $green;
        text-decoration: underline;
        text-align: center;
    }
}

@mixin style($color, $border-color, $font-size) {
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid $border-color;
    color: $color;
    font-size: $font-size;
}

section {
    display: flex;

    article {
        &:nth-child(odd) {
            @include style($blue, $green, 1rem)
        }

        &:nth-child(even) {
            @include style($red, $green, 1rem);
        }
    }

    &:last-child {
        article {
            @include style($green, $blue, 1.5rem);
            flex-basis: 100%;
        }
    }
}