@use "variables.scss" as v;
@use "functions.scss" as f;

div {
    border: f.rem(1) solid v.$red;
    padding: 0 f.rem(16);

    .h1-class {
        color: v.$green;
        text-decoration: underline;
        text-align: center;
    }

    .h2-class {
        @extend .h1-class;
        padding: 1rem;
        border: 1px solid v.$red;
    }
}


@mixin style($color, $border-color, $font-size) {
    padding: f.rem(16);
    margin-bottom: f.rem(16);
    border: f.rem(1) solid $border-color;
    color: $color;
    font-size: $font-size;
}

section {
    display: flex;

    article {
        &:nth-child(odd) {
            @include style(v.$blue, v.$green, f.rem(16))
        }

        &:nth-child(even) {
            @include style(v.$red, v.$green, f.rem(16));
        }
    }

    &:last-child {
        article {
            @include style(v.$green, v.$blue, f.rem(24));
            flex-basis: f.rem(1650);
        }
    }
}